.logo {
    display: inline;
    width: 120px;
    height: 31px;
    margin-left: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: 28px;
    color: #fff;
}